service: nottu-api

provider:
  name: aws
  runtime: nodejs20.x
  stage: api
  region: us-east-1

  environment:
    NODE_ENV: production
    DATABASE_URL: 'postgresql://neondb_owner:npg_fEJZvrWmu72o@ep-winter-lake-ahhvdp0z-pooler.c-3.us-east-1.aws.neon.tech/kowan?sslmode=require'
    JWT_SECRET: '60d95f7cd4d19756f0f2c39303b5bec6be5f8739a288bbf3bd96f813d4fb3271'
    JWT_EXPIRE: '7d'
    CORS_ORIGIN: '*'
    APP_NAME: 'NOTTU'
    APP_URL: 'https://1z2ivt0s87.execute-api.us-east-1.amazonaws.com/api'

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
          Resource: '*'

functions:
  api:
    handler: lambda.handler
    timeout: 30
    memorySize: 512
    events:
      - http:
          path: /{proxy+}
          method: ANY
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: true
      - http:
          path: /
          method: ANY
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: true

package:
  exclude:
    - .git/**
    - .github/**
    - node_modules/**
    - coverage/**
    - __tests__/**
    - '*.test.js'
    - .env
    - .env.example
    - README.md
  include:
    - src/**
    - lambda.js
    - package.json

plugins:
  - serverless-dotenv-plugin
  - serverless-offline

custom:
  dotenv:
    path: .env
    basePath: ./
    include:
      - DATABASE_URL
      - JWT_SECRET
      - JWT_EXPIRE
      - CORS_ORIGIN
      - APP_NAME
      - APP_URL
  serverless-offline:
    httpPort: 5000
