apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: quickclip
type: Opaque
stringData:
  DB_NAME: quickclip
  DB_USER: postgres
  DB_PASSWORD: YOUR_DB_PASSWORD_HERE
  JWT_SECRET: YOUR_JWT_SECRET_HERE
  JWT_EXPIRE: 7d
  CORS_ORIGIN: "*"
  RP_NAME: QUICKCLIP
  ORIGIN: https://YOUR_DOMAIN_HERE
  RP_ID: YOUR_DOMAIN_HERE
  AWS_REGION: us-east-1
  AWS_ACCESS_KEY_ID: YOUR_AWS_ACCESS_KEY_ID
  AWS_SECRET_ACCESS_KEY: YOUR_AWS_SECRET_ACCESS_KEY
  AWS_SESSION_TOKEN: YOUR_AWS_SESSION_TOKEN
  AWS_S3_BUCKET: YOUR_S3_BUCKET_NAME
  REACT_APP_API_URL: /api
