apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: quickclip
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: quickclip-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        env:
        - name: REACT_APP_API_URL
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: REACT_APP_API_URL
